SUBSYSTEM!="usb|usb_device", GOTO="xmos_rules_end"
ACTION!="add", GOTO="xmos_rules_end"
ATTRS{idVendor}=="20b1", ATTRS{idProduct}=="0016", MODE="0666", SYMLINK+="xvf3610-%n"
ATTRS{idVendor}=="20b1", ATTRS{idProduct}=="0018", MODE="0666", SYMLINK+="xvf3615-%n"
ATTRS{idVendor}=="20b1", ATTRS{idProduct}=="4f00", MODE="0666", SYMLINK+="xvf3800-%n"
ATTRS{idVendor}=="20b1", ATTRS{idProduct}=="4f01", MODE="0666", SYMLINK+="xvf3800-%n"
